<div class="text-center">
  <h2>{{name}}</h2>
  <p>{{{get_emoji}}}</p>
  <p>{{description}}</p>
  <p>Posted by {{user.name}} on {{format_date date_created}}</p>
  {{#if logged_in}}
    <form>
      <h2>Leave a comment!</h2>
      <textarea type="text" id="projectComment"></textarea>
      <button id="submitComment">Submit</button>
      {{#if comments.length}}
      <div>
        <h3>Comments:</h3>
        {{#each comments as |comment|}}
        <div>
          <h4>{{comment.body}}</h4>
        </div>
        {{/each}}
      </div>
      {{/if}}
    </form>
  {{/if}}
</div>

<script src="./js/comment.js"></script>